body,
html {
  margin: 0;
  padding: 0;
  height: 300vh; /* Para permitir el scroll */
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  opacity: 0;
}

.one {
  background-color: #f76c6c;
}

.two {
  background-color: #6c83f7;
}

.three {
  background-color: #6cf78f;
}
.container {
  background-color: yellow;
  display: flex;
}
.left {
  min-width: 400px;
  width: 40%;
}
.right {
  min-width: 400px;
  width: 40%;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  background-color: blue;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.line {
  width: 100%;

  height: 8px;
  margin: 0 0 0;
  position: relative;
  display: inline-block;
  background-color: red;
}
