#preloader {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
#logo {
  animation: zoomIn 1.5s forwards;
}
#slogan {
  display: none;
  animation: zoomIn 1.5s forwards;
}
#content {
  display: inline;
}
.img-white{
  filter: brightness(0) invert(1);
}
#scroll{
  background-color: #E99B2E;
  height: 5px;
  width: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  animation: heartbeat 2s infinite;
  -webkit-animation: heartbeat 2s infinite;
}

.content{
  background: radial-gradient(circle at 50% 50%, #861f3c, #751a36, #641630, #541229, #440e22, #350a1b);
}


