---
const title = 'H. Ayuntamiento de Escárcega';
import Layout from '../layouts/Layout_white.astro'
---
<Layout title={title}>
    <main class="bg-repeat h-dvh flex justify-center" style="background-image: url(/background.jpg)">
        <section class="bg-white w-[80%] flex flex-col justify-center">
            <h3 class="text-xl font-medium text-white px-4 py-5 bg-cherry text-bold">
                AVISO OFICIAL PDU
            </h3>
            <iframe src="https://cantun.com/aviso_oficial_pdu.pdf" width="100%" height="100%">
            </iframe>
            <h3 class="text-xl font-medium text-white px-4 py-5 bg-cherry text-bold">
            PDU Escárcega (Versión consulta pública)
            </h3>
            <iframe src="https://cantun.com/PDU_consulta_publica.pdf" width="100%" height="100%">
            </iframe>
        </section>      
    </main>
</Layout>
