---
const title = 'H. Ayuntamiento de Escárcega';
import ComponentBlog from '../components/ComponentBlog.astro';
import Layout from '../layouts/Layout.astro'

---

<Layout title={title}>
    <main class="bg-repeat" style="background-image: url(/background.jpg)">
        <ComponentBlog></ComponentBlog>
    </main>
</Layout>