---
const title = 'H. Ayuntamiento de Escárcega';
import Layout from '../layouts/Layout_white.astro'
import Menu from "../components/MenuCOTAIPEC";
---
<Layout title={title}>
    <main class="bg-repeat h-screen" style="background-image: url(/background.jpg) ">
        <section class="bg-white h-full w-full pt-[5%]">
            <article class="w-[80%] mx-auto">
                <Menu client:load></Menu>
            </article>
        </section>
    </main>
</Layout>
