---
const title = "H. Ayuntamiento de Escárcega";
import ComponentGaceta from "../components/Gaceta.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
  <main class="bg-repeat" style="background-image: url(/background.jpg)">
    <section class="bg-slate-100 pt-28 w-full flex justify-center">
      <div class="my-10 m-3/5">
        <ComponentGaceta client:load />
      </div>
    </section>
  </main>
</Layout>
