---
import '../input.css'
import '../output.css'
import Layout from '../layouts/Layout.astro';
import Aside from '../components/Aside.astro';
import Carousel from '../components/Carousel.astro';
import Dependencias from '../components/Dependencias.astro';
import CardMesaAtencion from '../components/CardMesaAtencion.astro'
import CardApp from '../components/CardApp.astro'
const title = 'H. Ayuntamiento de Escárcega';
---

<Layout title={title} >
	<main class="bg-slate-200">
		<Carousel></Carousel>
		<section class="flex flex-wrap items-center space-x-1 w-4/5 mx-auto">
		<CardMesaAtencion></CardMesaAtencion>
		<CardApp></CardApp>
		</section>
		<Dependencias></Dependencias>
	</main>
</Layout>

