---
import "../input.css";
import "../output.css";
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import CarouselMain from "../components/CarouselMain";
import Ayuntamiento from "@/components/Ayuntamiento.astro";
import Dependencias from "../components/Dependencias.jsx";
import Footer from "../components/Footer.astro";
const title = "H. Ayuntamiento de Escárcega";
---
<Layout title={title}>
    <main> 
        <HeroSection></HeroSection>
        <CarouselMain client:load />
        <Ayuntamiento />
        <Dependencias client:load /> 
        <Footer />
    </main>
</Layout>
