---
import "../input.css";
import "../output.css";
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import CarouselMain from "../components/CarouselMain";
import Ayuntamiento from "@/components/Ayuntamiento.astro";
import Dependencias from "../components/Dependencias.jsx";

import Policia from "@/components/Policia.astro";
const title = "H. Ayuntamiento de Escárcega";
---
<Layout title={title}>
    <main>
        <HeroSection></HeroSection>
        <!-- <Policia></Policia> -->
        <CarouselMain client:load />
        <Ayuntamiento />
        <Dependencias client:load /> 
        
    </main>
</Layout>
