---
const title = 'H. Ayuntamiento de Escárcega';
import App from '../components/policia/App';
import Layout from '../layouts/Layout.astro'
---
<Layout title={title}>
    <main>
        <section class="">
            <div class="">
                <App client:only="react"></App>
            </div>
        </section>
    </main>
</Layout>
