---
const title = 'H. Ayuntamiento de Escárcega';
import Contabilidad from '../components/Contabilidad';
import Layout from '../layouts/Layout.astro'
---
<Layout title={title}>
    <main >
        <section class="pt-20 ml-[5%] mr-[5%] flex justify-center ">
            <div class="my-10 w-full">
                <Contabilidad client:load></Contabilidad>
            </div>
        </section>
    </main>
</Layout>
