---
import Presidente from "./Presidente.jsx";
import PluginFacebook from "./PluginFacebook.astro"
import Location from "./Location.astro"
---
<section id="Ayuntamiento"  class=" sm:h-screen sm:flex sm:justify-center sm:items-center py-6">
    <div class=" sm:flex sm:justify-center sm:items-center sm:h-full py-6">
        <div class="grid grid-rows-3 md:grid-rows-2 md:grid-flow-col gap-4">
            <div class="md:col-span-2 min-w-80  place-self-center">
                <div class="art-ayuntamiento opacity-1 -translate-x-2 w-full">
                    <Location></Location> 
                </div>
            </div>
            <div class="md:col-span-2   min-w-80 place-self-center ">
                <div class="art-presidencia opacity-0 -translate-x-2 w-full">
                    <Presidente client:load></Presidente>
                </div>
            </div>
            <div class="md:row-span-2 h-44 min-w-80">
                <div class="art-facebook opacity-1 translate-x-2 w-full">
                    <PluginFacebook></PluginFacebook>
                </div>
            </div> 
        </div>
    </div>
</section>
<script>
    import gsap from 'gsap';
    document.addEventListener('DOMContentLoaded', () => {
    var tl = gsap.timeline({opacity: 0.5});
    tl.to(".art-ayuntamiento", {duration: 2, opacity:1, ease: 'expo.out', x:0}, "+=0.2")
    .to(".art-facebook", {duration: 1, opacity:1, ease: 'expo.out', x:0}, "+=0.2")
    .to(".art-presidencia", {duration: 2, opacity:1, ease: 'expo.out', x:0});
    });
</script>