---
---
<div id="menu_ayuntamiento" class="mx-auto  bg-white border-b-8 border-golden hidden">
    <div class="mt-1 w-screen bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="py-24 sm:py-20">
            
            <div class="mx-auto grid  px-6 xl:grid-cols-3">
                <div class="flex flex-col items-center justify-center">
                    <img class="w-32 h-32 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="/presidente.jpg" alt="Bordered avatar">
                    <p class="text-lg font-bold tracking-tight text-cherry sm:text-lg">PRESIDENTE MUNICIPAL</p>
                    <p class="mt-1 text-base leading-3 text-gray-600">Lic. Juan Carlos H. Rath</p>
                </div>
                <div class="gap-x-8 gap-y-12 xl:col-span-2">
                    <div class="flex justify-center items-center p-4">
                        <p class="text-lg font-bold tracking-tight text-cherry sm:text-lg">CABILDO</p>
                    </div>
                    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Juan+Perez" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Juan Pérez</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">SINDICO</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Karen+Hernandez" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Karen Hernández</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">REGIDOR</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Francisco+Sanchez" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Francisco Sanchez</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">REGIDOR</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Cintia+Lopez" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Cintia López</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">REGIDOR</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Guadalupe+Morenoo" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Guadalupe Moreno</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">REGIDOR</p>
                            </div>
                        </div>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=ALfredo+Dominguez" alt="">
                            <div>
                                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Alfredo Domínguez</h3>
                                <p class="text-sm font-semibold leading-6 text-cherry">REGIDOR</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                         
    </div>                    
</div>