---
import CardDependencia from "../components/CardCabildo.astro";
import { api } from '../api/api.js';
const response = await fetch(`${api}/listCouncil`);
const dependences= await response.json();
---
<section id="menu_ayuntamiento" class="bg-white pt-[4%] pb-[4%]">
    <div class=" ml-[2%] mr-[2%] w-auto pt-[2%] pb-[2%] ">

        <div class="mx-auto grid   xl:grid-cols-3">
            <div class="flex flex-col items-center justify-center">
                <img class="w-32 h-32 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="/presidente.jpg" alt="Bordered avatar">
                <p class="text-lg font-bold tracking-tight text-cherry sm:text-lg">PRESIDENTE MUNICIPAL</p>
                <p class="mt-1 text-base leading-3 text-gray-600">Lic. Juan Carlos H. Rath</p>
            </div>
            <div class="gap-x-8 gap-y-12 xl:col-span-2">
                <div class="w-full flex justify-center">
                    <h2 class=" text-xl font-bold tracking-tight text-cherry py-3">CABILDO</h2>
                </div>
                    <div class="mx-auto grid w-auto max-w-7xl gap-x-2 gap-y-10 px-6 lg:px-8 lg:grid-cols-2 md:grid-cols-2 xl:grid-cols-3 ">
                        {dependences.map((_item)=> <CardDependencia photo={_item.profile_image} position={_item.position_name} name={_item.name+' '+_item.firstlastname+' '+_item.secondlastname} phone={_item.phone}></CardDependencia>)}                                
                    </div>
            </div>
        </div>
                        
    </div>                    
</section>