<article  class="align-middle md:flex-1">
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover h-44 w-full rounded-t-lg md:h-52 md:w-48 md:rounded-none md:rounded-s-lg" src="/auditorio.jpeg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-cherry dark:text-white">Mesa de atención ciudadana</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><string>¡Ahora!</string> Si deseas realizar algún trámite o solicitar cualquier servicio de nuestras dependencias, puedes hacerlo en las instalaciones del auditorio público.</p>
        </div>
    </a>
</article>