---
import { api } from '../api/api.js';
const response = await fetch(`${api}/listCarousel`);
const imagenes = await response.json();
import ItemCarousel from "../components/ItemCarousel.astro";
---

<div id="default-carousel" class="relative w-full bg-slate-100" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
         {imagenes.map((_item)=><ItemCarousel image={_item.image}></ItemCarousel>)}
    </div>
</div>
