<section id="Dependencias" class="bg-fixed bg-cover bg-no-repeat bg-center w-dvh md:h-dvh lg:h-dvh " style="background-image: url(/jaguar.png)">
    <article class="bg-white ">
        <div class="w-4/5 mx-auto py-5">
            <div class="flex justify-center items-center">
                <p class="text-xl font-bold tracking-tight text-cherry py-3">DEPENDENCIAS</p>
            </div>
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-10 px-6 lg:px-8 xl:grid-cols-3">
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full " src="https://ui-avatars.com/api/?name=Henry+Jiménez" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lic. Henry Alexis Jiménez Pérez</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Sistema para el Desarrollo Integral de la Familia</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)824-3485</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Angelica+Ortiz" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Licda. Angélica Orozco Ortiz</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Procuraduría Federal del Consumidor</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)824-3152</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Manuel+Escobar" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lic. Manuel de Jesús Escobar Suárez</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Instituto de la Juventud</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)105-9793</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Manuel+Escobar" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lic. Manuel Jesús Escobar Piña</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Agua Potable y Alcantarillado</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> </p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Sergio+Luna" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">BR. Sergio Enrique Luna Gómez</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Dirección de Protección Civil</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> </p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Alfredo+Dominguez" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Arq. Irvin del Cármen Arjona Rodríguez</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Dirección de Obras Públicas</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)824-1800</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Maria+Guadalupe" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lic. María Guadalupe González</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Instituto de la Mujer</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)1256723</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Julio+Amaro" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Br. Julio Cesar Amaro Almeida</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Dirección de Servicios Públicos</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)824-0082</p>
                    </div>
                </div>
                <div class="flex items-center gap-x-6  border border-gray-200 rounded-lg shadow p-2">
                    <img class="h-16 w-16 rounded-full" src="https://ui-avatars.com/api/?name=Ricardo+Montejo" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">L.C.P. Ricardo Felipe Montejo</h3>
                        <p class="text-sm font-semibold leading-6 text-cherry">Órgano Interno de Control</p>
                        <p class="text-sm font-semibold leading-6 text-gray-800"> (982)824-0211</p>
                    </div>
                </div>                                                                  
            </div>
        </div>
    </article>
</section>