---
const dependences=[
    {
        id:"1",
        director:'Lic. Henry Alexis Jiménez Pérez',
        direction:'Sistema para el Desarrollo Integral de la Familia',
        phone:'(982)824-3485',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Henry+Jiménez'
    },
    {
        id:"2",
        director:'Licda. Angélica Orozco Ortiz',
        direction:'Procuraduría Federal del Consumidor',
        phone:'(982)824-3152',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Angelica+Ortiz'
    },
    {
        id:"3",
        director:'Lic. Manuel de Jesús Escobar Suárez',
        direction:'Instituto de la Juventud',
        phone:'(982)105-9793',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Manuel+Escobar'
    },
    {
        id:"4",
        director:'Lic. Manuel de Jesús Escobar Piña',
        direction:'Agua Potable y Alcantarillado',
        phone:'',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Manuel+Escobar'
    },
    {
        id:"5",
        director:'BR. Sergio Enrique Luna Gómez',
        direction:'Dirección de Protección Civil',
        phone:'',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Sergio+Luna'
    },
    {
        id:"6",
        director:'Arq. Irvin del Cármen Arjona Rodríguez',
        direction:'Dirección de Obras Públicas',
        phone:'(982)824-1800',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Irvin+Arjona'
    },
    {
        id:'7',
        director:'Lic. María Guadalupe González',
        direction:'Instituto de la Mujer',
        phone:'(982)1256723',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Maria+González',
    },
    {
        id:'8',
        director:'Br. Julio Cesar Amaro Almeida',
        direction:'Dirección de Servicios Públicos',
        phone:'(982)824-0082',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Julio+Amaro',
    },
    {
        id:'9',
        director:'L.C.P. Ricardo Felipe Montejo',
        direction:'Órgano Interno de Control',
        phone:'(982)824-0211',
        address:'',
        photo:'https://ui-avatars.com/api/?name=Ricardo+Montejo',
    },
]

---
<section id="Dependencias" class="" >
    <article class="bg-white ">
        <div class="w-4/5 mx-auto py-5">
            <div class="flex justify-center items-center">
                <p class="text-xl font-bold tracking-tight text-cherry py-3">DEPENDENCIAS</p>
            </div>
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-10 px-6 lg:px-8 xl:grid-cols-3">
                {dependences.map((_item)=>
                <div class="grid relative overflow-hidden before:absolute before:bg-cherry before:w-[5px] before:h-[400px] before:z-0 before:transition-all hover:before:w-full hover:before:h-full after:absolute after:inset-[5px] after:z-0 after:bg-white">
                    <div class="flex items-center gap-x-6 px-3 py-2 z-10">
                        <img class="h-16 w-16 rounded-full " src={_item.photo} alt="">
                        <div>
                            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{_item.director}</h3>
                            <p class="text-sm font-semibold leading-6 text-cherry">{_item.direction}</p>
                            <p class="text-sm font-semibold leading-6 text-gray-800"> {_item.phone}</p>
                        </div>
                    </div>
                </div> )}                                
            </div>
        </div>
    </article>
</section>