
<footer class="bg-neutral text-black">
    <div class="flex flex-col items-center justify-center p-4 bg-cherry font-bold text-white">
            <p>Gobierno Municipal de Escárcega</p>
            <p>2024 - 2027</p>
    </div>
    <div class="flex flex-wrap justify-center p-2 bg-neutral font-bold text-white">

    </div>
</footer>

