---
const title = "H. Ayuntamiento de Escárcega";
import { api } from "../api/api.js";
const response = await fetch(`${api}/listAccounting`);
const contabilidad = await response.json();
---

<header class="bg-white  w-full fixed z-50" id="header">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-2 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1 p-1">
        <span class="sr-only">{title}</span>
        <img class="h-[90px] w-[250px]" src="/logo-2.png" alt="" id="img-logo" />
      </a>
    </div>
    <div class="flex">
      <button id="open_menu" type="button" class="text_menu -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-black lg:hidden">
        <span class="sr-only">Abrir menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="index.html" class="text_menu text-sm font-semibold leading-6 text-black">Inicio</a>
      <!--<a href="#Cabildo" class="text_menu text-sm font-semibold leading-6 text-black">Cabildo</a> -->
      <a href="index.html#Dependencias" class="text_menu text-sm font-semibold leading-6 text-black">Dependencias</a>
      <div class="relative">
        <button id="btn_transparencia" type="button" class="text_menu flex items-center gap-x-1 text-sm font-semibold leading-6 text-black" aria-expanded="false">
          Transparencia
          <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div id="menu_transparencia" class="absolute -left-8 top-full z-40 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden">
          <div class="mx-auto max-w-lg">
            <ul class="divide-y divide-gray-200 rounded-xl border border-gray-200 shadow-sm">
              <li class="p-2 hover:bg-gray-50 cursor-pointer">
                <p class="text-lg font-medium leading-loose pl-4"><a href="https://transparencia.escarcega.gob.mx/contabilidad/">Contabilidad Gubernamental</a></p>
              </li>
              <li class="p-2 hover:bg-gray-50 cursor-pointer">
                <p class="text-lg font-medium leading-loose pl-4"><a href="https://smdif.escarcega.gob.mx/contabilidad/">Contabilidad SMDIF</a></p>
              </li>
              <li class="p-2 hover:bg-gray-50 cursor-pointer">
                <p class="text-lg font-medium leading-loose pl-4"><a href="smapae">Contabilidad SMAPAE</a></p>
              </li>
              <li class="p-2 hover:bg-gray-50 cursor-pointer">
                <p class="text-lg font-medium leading-loose pl-4"><a href="transparencia">Transparencia</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <a href="gaceta.html" class="text_menu text-sm font-semibold leading-6 text-black">Gaceta</a>
      <!-- <a href="/blog" class="text_menu text-sm font-semibold leading-6 text-black">Blog</a> -->
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <!-- <a href="#" class="text_menu text-sm font-semibold leading-6 text-black">Iniciar sesión <span aria-hidden="true">&rarr;</span></a> -->
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div id="movil_menu" class="lg:hidden md:hidden hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="z-40 fixed inset-y-0 right-0 w-full overflow-y-auto px-6 py-6 sm:max-w-sm bg-cherry border-b-8 border-golden">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">{title}</span>
          <img class="h-8 w-auto" src="/logo-1.png" alt="" />
        </a>
        <button id="close_menu" type="button" class="-m-2.5 rounded-md p-2.5 text-white">
          <span class="sr-only">Cerrar menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root sm:hidden">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#" id="btn-movil_inicio" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Inicio</a>
            <!-- <a href="#" id="btn-movil_cabildo" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Cabildo</a> -->
            <a href="index.html#Dependencias" id="btn-movil_dependencias" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Dependencias</a>
            <div class="-mx-3">
              <button
                id="btn-movil_transparencia"
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Transparencia
                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
              <div class="mt-2 space-y-2 hidden" id="menu-movil_transparencia">
                <a href="https://transparencia.escarcega.gob.mx/contabilidad/" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black"
                  >Contabilidad Gubernamental</a
                >
                <a href="https://smdif.escarcega.gob.mx/contabilidad/" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black"
                  >Contabilidad SMDIF</a
                >
                <a href="smapae.html" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Contabilidad SMAPAE</a>
              </div>
            </div>
            <a href="gaceta.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Gaceta</a>
            <!-- <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-50 hover:text-black">Blog</a> -->
          </div>
          <div class="py-6"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="scroll"></div>
</header>

<script>
  import "../scripts/scroll.js";
  import "../scripts/open_menu.js";
</script>
