<div class="w-full h-screen items-end -z-[100] static ">
    
        <div class="grid grid-cols-3 gap-2 bg-cherry pt-5 px-6 min-h-96 h-full -z-[100]">
            <div class=" h-full col-span-3 max-h-48 px-10 sm:px-30 place-self-center static z-10 left-0 right-0">
                <img class="min-w-56  h-full heart slogan opacity-0" src="/white_slogan.png" alt="" />
            </div>
            <div class="col-start-1 max-h-80 flex justify-center items-start  ">
                <button class="cursor-pointer boton-declaranet opacity-0 w-40 bg-yellow-300 hover:bg-yellow-400 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded-full">
                    <label class="text-black font-bold text-sm sm:text-2xl">Declara<span class="text-red-800">Net</span></label>
                </button>
            </div>
            <div class="col-span-2 max-h-80 z-0 relative ">
                <div class="absolute bottom-0 right-0 rounded-full bg-[#6F142F] -z-[101] w-full h-full sm:h-[300px] sm:w-[300px] md:h-[400px] md:w-[400px] lg:h-[500px] lg:w-[500px] bg-origin-padding p-4  " >
                    <div class="absolute bottom-0 right-0 rounded-full w-full h-full sm:h-[300px] sm:w-[300px] md:h-[400px] md:w-[400px] lg:h-[500px] lg:w-[500px] bg-origin-padding p-4  bg-no-repeat bg-center bg-cover presidente opacity-0 translate-x-10" style="background-image: url('/JuanRath.jpg')">
                    </div>
                </div>
            </div>
        </div>
    
</div>
<script>
import gsap from 'gsap';
document.addEventListener('DOMContentLoaded', () => {
var tl = gsap.timeline({opacity: 0.5});
tl.to(".presidente", {duration: 2, opacity:1, ease: 'expo.out', x:0}, "+=0.5")
  .to(".slogan", {duration: 1, opacity: 1})
  .to(".boton-declaranet", {duration: 1, opacity:1, ease: 'elastic.out'}, "+=0.5")
  ;
});
</script>