<div class="h-sdvh w-screen relative">
    
        <div class="bg-gradient-to-t from-cherry via-red-700 to-red-600 border rounded-lg h-full w-screen">
            <section class="py-2 sm:py-10 lg:py-2 ">
                <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 ">
                    <div class="grid  grid-cols-1 gap-0 lg:gap-12 lg:grid-cols-2 ">
                        <div class="flex-row">
                            <div class=" text-4xl font-bold text-black lg:mt-4 sm:text-6xl xl:text-8xl ">
                                <img class="w-full mt-20 heart" src="/white_slogan.png" alt="" />
                            </div>                        
                            <!--<h1 class="mt-4 text-4xl font-bold text-black lg:mt-8 sm:text-6xl xl:text-8xl">Connect & learn from the experts</h1>-->                     
                            <div class="mt-10 hidden sm:inline-flex sm:items-center">
                                <a href="http://declaranet.escarcega.gob.mx:5000" title="" class="hidden sm:inline-flex sm:items-center px-6 py-4 mt-8 font-semibold text-black transition-all duration-200 bg-yellow-300 rounded-full lg:mt-16 hover:bg-yellow-400 focus:bg-yellow-400" role="button">
                                    Declaranet
                                </a>  
                            </div>
                        </div>
                        <div class=" flex">
                            <div class="w-1/4 mt-[6%] flex-none items-end sm:invisible   md:invisible">
                                <a href="http://declaranet.escarcega.gob.mx:5000" title="" class="inline-flex items-center px-6 py-4 mt-20 font-semibold text-black transition-all duration-200 bg-yellow-300 rounded-full lg:mt-16 hover:bg-yellow-400 focus:bg-yellow-400" role="button">
                                    Declaranet
                                </a>                               
                            </div>
                            <img class="w-3/4 -mr-10 flex-1 sm:w-full sm:h-full" src="/JuanRath.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <div class="absolute bg-white h-[300px] w-full bottom-0 left-0"></div> -->
    
</div>
