<section id="noticias" class="my-10 ml-[2%] mr-[2%] w-auto">
    <div class="w-full flex justify-center">
        <h2 class=" text-xl font-bold tracking-tight text-cherry py-3">NOTICIAS</h2>
    </div>
    <div class="w-full flex justify-center py-5">
        <div class="mx-auto grid w-auto md:w-auto  gap-x-2 gap-y-10 px-6 grid-cols-1 lg:px-8 md:grid-cols-1 lg:grid-col-2 xl:grid-cols-2">
            <!--CARD -->
            <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-50 md:h-52 md:w-48 md:rounded-none md:rounded-s-lg" src="/auditorio.jpeg" alt="" style="clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white text-verde">Mesa de atención ciudadana</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><string>¡Ahora!</string> Si deseas realizar algún trámite o solicitar cualquier servicio de nuestras dependencias, puedes hacerlo en las instalaciones del auditorio público</p>
                </div>
            </a>
            <!--CARD -->
            <!--CARD -->
            <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white text-verde">Escárcega sigue sin alertamientos del SIATCT </h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        El Huracán 🌀MILTON continúa desplazándose sobre aguas del #Golfo de México, ahora como un Huracán Mayor Categoría 3 en la escala Saffir – Simpson. 
                    </p>
                </div>
                <img class="object-cover w-full rounded-t-lg h-50 md:h-52 md:w-48 md:rounded-none md:rounded-r-lg" src="/noticia-2.jpg" alt="" style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);">
            </a>
            <!--CARD -->
        </div>
    </div>
</section>