---
---
<div class="w-full">
    <div class="px-2 py-20 w-full flex justify-center">
        <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg rounded-lg">
            <div class="lg:w-1/3">
                <div class="lg:scale-110 h-80 bg-cover lg:h-full rounded-b-none border lg:rounded-lg"
                    style="background-image: url('/policias.png')">
                </div>
            </div>
            <div class="py-12 px-6 lg:px-12 max-w-xl lg:max-w-5xl lg:w-2/3 rounded-t-none border lg:rounded-lg">
                <h2 class="text-3xl text-cherry font-bold">
                    Dirección de Seguridad Pública y Transito Municipal de Escárcega
                    <!-- <span class="text-indigo-600">Choices</span> -->
                </h2>
                <h3 class="text-right py-4 text-3xl font-bold"><span class="underline underline-offset-3 decoration-8 decoration-red-400 dark:decoration-red-600">Convocatoría 2025</span></h3>
                <h4 class="text-2xl font-bold dark:text-white">Policia Municipal de Proximidad</h4>
                <p class="mt-4 text-gray-600">
                    El aspirante deberá presentar su documentación tanto impresa como escaneada. Cada documento deberá estar en formato PDF, de manera individual y escaneado en una memoria USB siguiendo el orden establecido a continuación: 
                </p>

                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Documentos:</h2>
                <ul class="max-w-md space-y-1 text-gray-600 list-none list-inside dark:text-gray-600">
                    <li>
                        a) 1 copia del acta de nacimiento actualizada
                    </li>
                    <li>
                        b) 1 original del curriculum vitae con fotografía firmado al calce en todas las hojas
                    </li>
                    <li>
                        c) 1 copia de la Clave Unica de Registro de Población (C.U.R.P) vigente.
                    </li>
                    <li>
                        d) 1 copia del Registro Federal del contribuyente (R.F.C) con regimen de sueldos y salarios vigente.
                    </li>
                    <li>
                        e) 1 copia de la asignación del número de seguro social expedido por el IMSS.
                    </li>
                    <li>
                        f) Original y copia a color de la credencial de elector vigente.
                    </li>
                    <li>
                        g) Original y copia de licencia de manejo vigente (automovilista o chofer). 
                    </li>
                    <li>
                        h) 2 copias a color de la cartilla de servicio militar nacional liberada (cartilla y hoja de liberación). 
                    </li>
                    <li>
                        i) 1 copia del certificado de estudios de educación media superior o superior. (preparatoria) 
                    </li>
                    <li>
                        j) 1 copia del comprobante de domicilio (actualizado)
                    </li>
                    <li>
                        k) 1 fotografia de frente. (credencial)
                    </li>
                </ul>
                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">NO SE ACEPTARÁ DOCUMENTACIÓN INCOMPLETA, QUE NO SE ENCUNETRE VIGENTE O ACTUALIZADA:</h2>
                <div class="mt-8">
                    <a href="/registro_policiamunicipaldeproximidad" class="bg-red-900 text-gray-100 px-5 py-3 font-semibold rounded">REALIZA TU REGISTRO EN LÍNEA AQUÍ</a>
                </div>
            </div>
        </div>
    </div>
</div>