---
import '../input.css'
import '../output.css'
import '../styles/style.css'
import Header from './../components/Header.astro'


interface Props {
	title: string;
}

const { title } = Astro.props;
 
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!--<div id="preloader">
			<img id="logo" src="/logo-1.png" alt="logo">
			<img id="slogan" src="/slogan.png" alt="alogan">
		</div> -->
		<div id="content">
			<Header></Header>
			<slot />
		</div>
		<script type="text/javascript">
			(function(d, t) {
				var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
				v.onload = function() {
				  window.voiceflow.chat.load({
					verify: { projectID: '6759a65d0f8a65e420551f12' },
					url: 'https://general-runtime.voiceflow.com',
					versionID: 'production'
				  });
				}
				v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
			})(document, 'script');
		  </script>
		<!-- <script>import '../scripts/preload.js';</script> -->
		<script  src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
		
	</body>
</html>
